
h3{
    color:red;
    position: relative;
    left: 200px;
}

.paragraf{
    font-size: larger;
    padding: 35px; /*face spatiu in jurul unui element 
    pentru a fi mai usor vizibil*/
    margin: 20px;
    color: brown;
}

#masina{
    background-color: aquamarine;
    text-align: center;
}

table{
    position: absolute;
}

th,td {
    border: 1px solid black;
}

li{
    display: inline; /*dispunerea elementelor*/
}

tr:nth-of-type(2n){
    background: lightgreen; /* toate liniile de pe pozitii pare din tabele sunt verzi*/
}
tr:nth-of-type(2n+1){ /* toate liniile de pe pozitii impare din tabele sunt albastre*/
    background: lightblue;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: cornflowerblue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: chocolate;
}

.spatiu{
    padding: 40px;
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
} 

#car{
    color:darkgreen;
    transition: height 2s;
}

#car:hover{
    height: 300px;
}

h1{
    animation-name: changeH1;
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes changeH1{
    0% {background-color: darkgreen; font-size: 50px}
    25% {background-color:blue; font-size: 60px}
    50% {background-color: red; font-size: 70px}
    75% {background-color:dodgerblue; font-size: 80px}
    100% {background-color: darkslateblue; font-size: 20px}
}

.tableStyle{
    background-color:black;
    text-indent: 3px;
    text-shadow: #777;
}